.character-pictures {
  width: 200px;
  height: 200px;
}

.character-thumnails {
  background-color: orange;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border: 2px solid lightsteelblue;
  border-radius: 10px;

  margin: 25px auto;
}
.character-pictures-wrapper {
  margin-right: 25px;
}
.character-name {
  font-size: 25px;
}

/* .character-thumnails ~ p {
  flex-direction: column;
}
 */
